@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: url('imagens/dna.jpg') no-repeat center center fixed;
  background-size: cover;
}

.TiagensPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul a {
  color: rgb(255, 255, 255);
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

.navbar ul a::after {
  content: "";
  background-color: #15616D;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.navbar ul a:hover::after {
  width: 100%;
}

.logo-navbar {
  width: 100px;
  height: 100px;
}

.Divisao {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.container-evolucao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.evolucao-bio, .evolucao-poke, .evolucao-tipos {
  background-color: #fff;
  margin: 20px 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  height: 200px;
  background-color: #15616D;
  padding: 10px;
}

.footer .container {
  display: flex;
  color: white;
  justify-content: space-between;
}

.footer .container ul {
  width: 25%;
  list-style: none;
  padding: 0;
}

.footer .container h3 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 22px;
}

.footer .container li {
  margin: 10px 0;
}

.footer .container a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.footer .container a:hover {
  text-decoration: underline;
}

.footer .container p {
  color: white;
  text-decoration: none;
  font-size: 18px;
}