@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.TiagensPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul a {
  color: rgb(206, 13, 13);
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

.navbar ul a::after {
  content: "";
  background-color: #15616D;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.navbar ul a:hover::after {
  width: 100%;
}

.logo-navbar {
  width: 100px;
  height: 100px;
}



.container-regiaoGeracao  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-kanto  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-johto  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-hoenn  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-sinnoh  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-unova  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-kalos  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-alola  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-galar  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-hisui  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container-paldea  {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.footer {
    height: 200px;
    background-color: #15616D;
    padding: 10px;

}

.footer .container {
    display: flex;
    color: white;
    justify-content: space-between;
}

.footer .container ul {
    width: 25%;
}

.footer .container h3 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
}

.footer .container li {
    margin: 10px 0;
    text-decoration: none;
}

.footer .container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer .container a:hover {
    color: #FF7D00;
}

.footer .container p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

button {
    width: 120px;
    height: 40px;
    margin-left: 50px;
    background-color: #15616d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4f8c95;
  }